<footer class="footer bg-secondary">
  <div class="container-xl">
    <div class="d-flex justify-content-between">
      <div class="info">
        <nav class="d-none d-md-block mb-9">
          <ul class="nav-list d-flex">
            <li>
              <a href="index.html" class="nav-link text-white d-block">首頁</a>
            </li>
            <li>
              <a href="product-optical.html" class="nav-link text-white d-block">系列鏡框</a>
            </li>
            <li>
              <a href="store.html" class="nav-link text-white d-block">門市據點</a>
            </li>
            <li>
              <a href="blog.html" class="nav-link text-white d-block">部落格</a>
            </li>
            <li>
              <a href="faq.html" class="nav-link text-white d-block">常見問題</a>
            </li>
          </ul>
        </nav>
        <ul class="contact-list mb-4 mb-sm-8">
          <li class="d-flex align-items-center">
            <span class="material-icons-outlined text-white fs-2 me-4">phone</span>
            <a href="tel:080000000" class="text-white fs-2">0800-000-00</a>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons-outlined text-white fs-2 me-4">email</span>
            <a href="mailto:glasses@business.com" class="text-white fs-2">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <ul class="sns-list d-flex">
        <li>
          <a href="#" class="sns-link d-block"><img src="/assets/images/icon-fb.png" alt="facebook icon"></a>
        </li>
        <li>
          <a href="#" class="sns-link d-block"><img src="/assets/images/icon-ins.png" alt="instagram icon"></a>
        </li>
        <li>
          <a href="#" class="sns-link d-block"><img src="/assets/images/icon-line.png" alt="line icon"></a>
        </li>
      </ul>
    </div>

    <hr class="mb-4 mb-sm-8">

    <div class="d-sm-flex justify-content-sm-between">
      <p class="text-white mb-2 mb-sm-0">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="privacy-list d-sm-flex">
        <li class="me-sm-12 mb-2 mb-sm-0">
          <a href="#" class="text-white">隱私權政策</a>
        </li>
        <li>
          <a href="#" class="text-white">服務條款</a>
        </li>
      </ul>
    </div>
  </div>
</footer>