<header class="header bg-secondary py-4">
  <div class="container-md d-sm-flex justify-content-sm-between align-items-sm-center">
    <h1 class="brand">
      <a href="index.html" class="brand-link d-block text-hidden bg-cover"
        style="background-image: url('/assets/images/logo-brand.png');">
        LUVEYES 眼鏡
      </a>
    </h1>

    <nav>
      <ul class="nav-list d-flex flex-wrap">
        <li>
          <a href="product-optical.html" class="nav-link text-white d-block">系列鏡框</a>
        </li>
        <li>
          <a href="store.html" class="nav-link text-white d-block">門市據點</a>
        </li>
        <li>
          <a href="blog.html" class="nav-link text-white d-block">部落格</a>
        </li>
        <li>
          <a href="faq.html" class="nav-link text-white d-block">常見問題</a>
        </li>
      </ul>
    </nav>
  </div>
</header>