.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;

  a:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .nav-list,
  .sns-list {
    gap: 2rem;
  }

  .nav-list {
    margin-left: -0.75rem;
  }

  .nav-link {
    padding: 0.375rem 0.75rem;
  }

  .sns-link {
    width: 3rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: rotate(-5deg) scale(1.1);
    }
  }

  hr {
    border: 1px solid $white;
  }
}

@include desktop {
  .footer {
    padding-bottom: 2.5rem;

    .nav-list,
    .sns-list {
      gap: 1rem;
    }

    .sns-link {
      width: 2.5rem;
    }
  }
}

@include mobile {
  .footer {
    padding-bottom: 1.25rem;

    .contact-list {
      span,
      a {
        font-size: 1.25rem;
      }
    }

    .sns-list {
      gap: 0.5rem;
    }

    .sns-link {
      width: 1.5rem;
    }
  }
}
