.brand-link {
  width: 80px;
  height: 48px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: rotate(-5deg) scale(1.1);
  }
}

.header {
  .nav-list {
    gap: 2rem;
    margin-right: -0.75rem;

    @include desktop {
      gap: 1rem;
    }

    @include tablet {
      gap: 0;
    }
  }

  .nav-link {
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

@include mobile {
  .brand {
    margin-bottom: 1rem;
  }

  .header {
    padding-bottom: 0;

    .nav-list {
      margin-left: -0.75rem;
      margin-right: -0.75rem;

      li {
        width: 50%;
        border: 1px solid $white;
      }
    }

    .nav-link {
      padding: 0.75rem 0;
      font-size: 1rem;
      text-align: center;

      &:hover {
        background: $primary;
        color: $white;
      }
    }
  }
}
