.type-link:hover,
.search-btn span:hover {
  color: rgba(255, 255, 255, 0.75);
}

.search-btn {
  background: transparent;
}

.article-text {
  color: #555555;
}

.other-page a:hover {
  color: $secondary;
}

.tag-link:hover {
  color: $primary;
}
