// banner
.banner {
  height: calc(100vh - 80px);
  background-image: url('/assets/images/banner.png');

  &-btn {
    padding: 0.375rem 0.75rem;

    &:hover {
      background: lighten($secondary, 10%);
    }
  }
}

@include tablet {
  .banner {
    background-image: url('/assets/images/banner-sm.png');
  }
}

@include mobile {
  .banner {
    height: calc(100vh - 180px);
  }
}

// intro
.intro-icon {
  width: 100px;
}

// classic
.classic-title,
.branded-title {
  font-size: 3rem;
}

/* branded */
.branded {
  background-image: url('/assets/images/branded-bg.png');
}

@include desktop {
  .branded {
    background-image: url('/assets/images/branded-bg-md.png');
  }
}

@include mobile {
  .branded {
    background-image: url('/assets/images/branded-bg-sm.png');
  }
}
