<!DOCTYPE html>
<html lang="zh-Hant">

  <%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
    
    <nav class="bg-primary">
      <div class="container d-flex justify-content-center justify-content-sm-between align-items-center py-3">
        <ul class="d-flex gap-6">
          <li>
            <a href="#" class="type-link text-white fw-bold">最新消息</a>
          </li>
          <li>
            <a href="#" class="type-link text-white fw-bold">特別企劃</a>
          </li>
          <li>
            <a href="#" class="type-link text-white fw-bold">新品上市</a>
          </li>
          <li>
            <a href="#" class="type-link text-white fw-bold">鏡框小知識</a>
          </li>
        </ul>
        <button class="search-btn d-none d-sm-inline-block">
          <span class="material-icons-outlined d-block fs-1 text-white">
            search
          </span>
        </button>
      </div>
    </nav>
  
    <div class="container pt-4 pt-lg-6 mb-2">
      <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item"><a href="#" class="fw-regular">首頁</a></li>
        <li class="breadcrumb-item"><a href="#" class="fw-regular">部落格</a></li>
        <li class="breadcrumb-item"><a href="#" class="fw-regular">特別企劃</a></li>
        <li class="breadcrumb-item text-secondary fw-regular">情人節特別企劃</li>
      </ol>
      <ul class="article-tag d-flex gap-4">
        <li><a href="#" class="text-secondary fs-6 fw-bold">#special</a></li>
        <li><a href="#" class="text-secondary fs-6 fw-bold">#event</a></li>
      </ul>
    </div>
  
    <!-- article -->
    <main class="article mb-16 mb-sm-20">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-lg-8">
            <h2 class="h2 fw-regular">情人特別企劃</h2>
            <h3 class="h5 fw-bold mb-4">2020 Valentine’s Special</h3>
            <div class="mb-4 mb-sm-6 mb-lg-10">
              <img src="/assets/images/blog-content-1.png" alt="article photo" class="mb-2">
              <p class="article-text line-break">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </div>
            <div class="mb-4 mb-sm-6 mb-lg-10">
              <img src="/assets/images/blog-content-2.png" alt="article photo" class="mb-2">
              <p class="article-text line-break">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </div>
            <div class="mb-4 mb-sm-6 mb-lg-10">
              <img src="/assets/images/blog-content-3.png" alt="article photo" class="mb-2">
              <p class="article-text line-break">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            </div>
            <div class="mb-sm-10">
              <img src="/assets/images/blog-content-4.png" alt="article photo" class="mb-2">
              <p class="article-text line-break">2/14（五）— 2/20（日）
                至本店單筆消費滿 2980 元，就送情人節限定眼鏡盒 1 個
                期間優惠還有～持他牌鏡框更換鏡片
                薄型非球面鏡片折 300 元
                濾藍光鏡片折 500 元
                快快帶上另一半
                讓彼此每一次睜開眼，都被愛的視線包圍！</p>
            </div>
            <div class="d-none d-sm-flex align-items-center mb-4">
              <p class="fs-5 fw-bold me-4">Share</p>
              <ul class="d-flex gap-4">
                <li>
                  <a href="#"><img src="/assets/images/logo-fb.png" alt="facebook logo" width="24" height="24"></a>
                </li>
                <li>
                  <a href="#"><img src="/assets/images/logo-ins.png" alt="instagram logo" width="24" height="24"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-none d-sm-block col-sm-3 col-lg-4">
            <p class="fs-3 fw-bold text-secondary d-flex align-items-center">
              <span class="material-icons-outlined fs-3 me-2">label</span>
              TAGS
            </p>
            <ul class="d-flex flex-wrap gap-4">
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#special</a></li>
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#sale</a></li>
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#new_item</a></li>
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#interview</a></li>
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#trivia</a></li>
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#news</a></li>
              <li><a href="#" class="tag-link fs-6 fw-bold text-secondary">#event</a></li>
            </ul>
          </div>
        </div>
  
        <hr class="d-none d-sm-block w-lg-66 ms-0 mb-6">
  
        <div class="other-page d-none d-sm-flex justify-content-sm-between w-lg-66">
          <a href="#" class="d-flex align-items-center fw-regular">
            <span class="material-icons-outlined">arrow_back</span>
            上一篇：街頭潮人訪問 1
          </a>
          <a href="#" class="d-flex align-items-center fw-regular">
            下一篇：街頭潮人訪問 2
            <span class="material-icons-outlined">arrow_forward</span>
          </a>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>