<!DOCTYPE html>
<html lang="zh-Hant">

  <%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
    
    <main>
      <!-- banner -->
      <section class="banner bg-cover">
        <div class="container-md h-100 d-flex justify-content-end align-items-center">
          <div class="banner-slogan text-primary text-end">
            <p class="fs-2 fw-regular">Promise-Desert 2020 早春系列</p>
            <h2 class="h1 fw-bold">看得清，才能看得遠</h2>
            <button class="banner-btn fs-6 fw-bold text-white bg-secondary">立即購買</button>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>