<!DOCTYPE html>
<html lang="zh-Hant">

  <%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
    
    <!-- product -->
    <main class="product">
      <!-- nav -->
      <section class="nav container-xl">
        <ul class="nav-list d-flex mx-n3">
          <li class="nav-item w-33">
            <a href="product-optical.html" class="nav-link d-block fw-bold text-center">OPTICAL</a>
          </li>
          <li class="nav-item w-33">
            <a href="product-sunglasses.html" class="nav-link d-block fw-bold text-center">SUNGLASSES</a>
          </li>
          <li class="nav-item w-33">
            <a href="#" class="nav-link d-block fw-bold text-center">FUNCTIONAL</a>
          </li>
        </ul>
      </section>

      <!-- header -->
      <section class="header">
        <ul class="d-flex">
          <li class="w-50">
            <picture>
              <source srcset="/assets/images/product-header-3-sm.png" media="(max-width: 991.98px)">
              <img src="/assets/images/product-header-3.png" alt="product header photo">
            </picture>
          </li>
          <li class="w-50">
            <picture>
              <source srcset="/assets/images/product-header-4-sm.png" media="(max-width: 991.98px)">
              <img src="/assets/images/product-header-4.png" alt="product header photo">
            </picture>
          </li>
        </ul>
      </section>

      <!-- product list -->
      <section class="container pt-10 pb-16 py-sm-20">
        <h2 class="h3 fw-bold text-center">2020 NEW COLLECTION</h2>
        <h3 class="h4 fw-regular text-center mb-6 mb-sm-8">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="row">
          <li class="col-sm-6 col-xl-4 mb-6 mb-sm-10 mb-xl-20">
            <div class="card">
              <a href="#" class="card-link d-block">
                <img src="/assets/images/product-07.png" alt="product image" class="card-img">
              </a>
              <div class="d-flex justify-content-between">
                <p class="fs-5 fw-regular">BJ41600S</p>
                <p class="text-secondary fs-5 fw-bold">NTD3,490</p>
              </div>
              <div class="d-flex">
                <div class="color-bark color-block me-2"></div>
                <div class="color-bronze color-block"></div>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-xl-4 mb-6 mb-sm-10 mb-xl-20">
            <div class="card">
              <a href="#" class="card-link d-block">
                <img src="/assets/images/product-08.png" alt="product image" class="card-img">
              </a>
              <div class="d-flex justify-content-between">
                <p class="fs-5 fw-regular">BJ41600S</p>
                <p class="text-secondary fs-5 fw-bold">NTD3,490</p>
              </div>
              <div class="d-flex">
                <div class="color-bark color-block me-2"></div>
                <div class="color-bronze color-block"></div>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-xl-4 mb-6 mb-sm-10 mb-xl-20">
            <div class="card">
              <a href="#" class="card-link d-block">
                <img src="/assets/images/product-09.png" alt="product image" class="card-img">
              </a>
              <div class="d-flex justify-content-between">
                <p class="fs-5 fw-regular">BJ41600S</p>
                <p class="text-secondary fs-5 fw-bold">NTD3,490</p>
              </div>
              <div class="d-flex">
                <div class="color-bark color-block me-2"></div>
                <div class="color-bronze color-block"></div>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-xl-4 mb-6 mb-sm-10 mb-xl-0">
            <div class="card">
              <a href="#" class="card-link d-block">
                <img src="/assets/images/product-10.png" alt="product image" class="card-img">
              </a>
              <div class="d-flex justify-content-between">
                <p class="fs-5 fw-regular">BJ41600S</p>
                <p class="text-secondary fs-5 fw-bold">NTD3,490</p>
              </div>
              <div class="d-flex">
                <div class="color-bark color-block me-2"></div>
                <div class="color-bronze color-block"></div>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-xl-4">
            <div class="card">
              <a href="#" class="card-link d-block">
                <img src="/assets/images/product-11.png" alt="product image" class="card-img">
              </a>
              <div class="d-flex justify-content-between">
                <p class="fs-5 fw-regular">BJ41600S</p>
                <p class="text-secondary fs-5 fw-bold">NTD3,490</p>
              </div>
              <div class="d-flex">
                <div class="color-bark color-block me-2"></div>
                <div class="color-bronze color-block"></div>
              </div>
            </div>
          </li>
          <li class="col-sm-6 col-xl-4 d-none d-sm-block">
            <div class="card">
              <a href="#" class="card-link d-block">
                <img src="/assets/images/product-12.png" alt="product image" class="card-img">
              </a>
              <div class="d-flex justify-content-between">
                <p class="fs-5 fw-regular">BJ41600S</p>
                <p class="text-secondary fs-5 fw-bold">NTD3,490</p>
              </div>
              <div class="d-flex">
                <div class="color-bark color-block me-2"></div>
                <div class="color-bronze color-block"></div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <!-- pagination -->
      <div class="d-flex justify-content-center mb-16 mb-sm-20">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">上一頁</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">下一頁</a>
          </li>
        </ul>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>