.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-white {
  color: $white;
}

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-light {
  background: $light;
}

.bg-white {
  background: $white;
}

.bg-dark {
  background: $dark;
}
